@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
html, body {
    min-height: 100%;
}

body {
    background-color: #286b6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #948274;
    margin: none;
}

svg {
    background-color: rgb(179, 171, 171);
    padding: 10px;
    border-radius: 5px;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

.county:hover {
    fill: black;
}

g {
    color: #b6cfa8;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #cbdfbf;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description a{
    text-decoration: none;
    color: #fdf1e7;
    text-align: center;
}

#tooltip {
    visibility: hidden;
    height:auto;
    width: auto;
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

}

#container {
    display: flex;
    align-items: center;
    width: 100%;
}